@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

:root {
  --font-family: "Madimi One", sans-serif;
  --bg-color: #9bb8cd;
  --primary-color: #fff7d4;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0%;
  font-family: var(--font-family);
  font-size: 2em;
  gap: 30px;
}

h1 {
  font-size: 3.5em;
}

h3 {
  font-size: 1.75em;
}

.message {
  font-size: 1em;
}

.guess-box {
  border: 2px solid var(--primary-color);
  display: inline-block;
  font-size: 3.5em;
  padding: 10px;
  margin: 20px;
}
